<!DOCTYPE html>
<html class="no-js" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=750px, user-scalable=no">
  <title>fetchのテスト</title>
</head>

<body>
<h1>参加プレイヤー</h1>
<div id="players">
  <p>親 {{ parent }}</p>
</div>

<script>
    const updatePlayers = (players) => {
        let playersNum = document.getElementById('players').childElementCount;
        if (Object.keys(players).length === playersNum) {
            let wrapper = document.getElementById('players');
            while (wrapper.firstChild) element.removeChild(wrapper.firstChild);
            let i = 0;
            for (let player of players) {
                let p = document.createElement('p');
                if (player.position === 'parent') {
                    p.innerText = "親　";
                } else if (player.position === 'child') {
                    p.innerText = "子" + i + "　";
                }
                p.innerText += player.line_name;
                wrapper.appendChild(p);
                i++;
            }
        }
    };

    const fetchPlayers = () => {
        let ep = "https://monopolyapp.herokuapp.com/api/players?room_id=njrlmwi0zmytzjzhms00n2u1ltgzzwytzji4mwmynwnintrl&format=json";
        fetch(ep).then(response => response.json()).then(json => updatePlayers(json));
    };
    setInterval(fetchPlayers, 1000);
</script>
</body>

</html>