{% extends 'monopolyapp/liff-base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <p id="message"></p>
  <script>
      const pushLINE = (to, text) => {
          alert("to: " + to);
          alert("text: " + text);
          const ep = '{% url 'push-line' %}';
          fetch(ep, {
              method: "POST",
              body: JSON.stringify({to: to, text: text})
          })
          .then(response => {
              alert(response.status);
              alert(JSON.stringify(response.json()));
          }).catch(err => {
              alert("push LINE error");
              alert(err.toString());
          })
      };

      const register = (lineId, lineName) => {
          document.getElementById('message').innerText += lineName;
          alert(lineName);
          pushLINE(lineId, 'lineName: ' + lineName);
          const ep = "http://monopolyapp.herokuapp.com/api/players?format=json";
          const body = {'line_id': lineId, 'line_name': lineName, 'room_id': {{ room_id }}};
          fetch(ep, {method: "POST", body: JSON.stringify(body)}).then(res => res.status);
          pushLINE(lineId, "ルーム" + {{ room_id|slice:":6" }} + "に入室しました。");
      };

      const loginPlayer = (lineId, player) => {
          alert(JSON.stringify(player));
          pushLINE(lineId, "アカウント情報\n" + JSON.stringify(player));
          if ((player.length === 0) || (player.room_id === "")) {
              const ep = "https://api.line.me/v2/bot/profile/" + userId;
              fetch(ep, {headers: {Authorization: 'Bearer {{ header }}'}})
                  .then(res => res.json()).then(lineName => register(lineId, lineName))
          } else {
              alert("予期せぬエラーが発生しました。");
              pushLINE(lineId, "予期せぬエラーが発生しました。")
          }
      };

      liff.init(data=>{
          const lineId = data.context.userId;
          const ep = "https://monopolyapp.herokuapp.com/api/players?format=json&line_id=" + lineId;
          fetch(ep).then(res => res.json()).then(player => loginPlayer(lineId, player)).cache(err => {
              alert("ブロファイル情報の取得に失敗しました。" + err);
          });
          liff.closeWindow();
      },err=>{});
  </script>

{% endblock %}
