{% extends 'monopolyapp/liff-base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

  <form id="form" method="post" action="{% url 'make-room' %}">
    {% csrf_token %}
    <input id="room-id" type="hidden" name="room-id" value={{ room_id }}>
    <input id="line-id" type="hidden" name="line-id" value="">
    <input id="line-name" type="hidden" name="line-name" value="">
  </form>
  <script>
      liff.init(data=>{
          const lineId = data.context.userId;
          let lineName = "";
          liff.getProfile().then(profile => {
              alert(profile.displayName);
              lineName = profile.displayName;
          }).cache(err => {
              alert("ブロファイル情報の取得に失敗しました。" + err);
          });
          document.getElementById('line-id').setAttribute('value', lineId);
          document.getElementById('line-name').setAttribute('value', lineName);
          document.getElementById('form').submit();
      },err=>{});
  </script>

{% endblock %}
