{% extends 'monopolyapp/liff-base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

  <form id="form" method="post" action="{% url 'make-room' %}">
    {% csrf_token %}
    <input id="room-id" type="hidden" name="room-id" value={{ room_id }}>
    <input id="line-id" type="hidden" name="line-id" value="">
  </form>
  <script>
      liff.init(data=>{
          document.getElementById('line-id').setAttribute('value', data.context.userId);
          document.getElementById('form').submit();
      },err=>{});
  </script>

{% endblock %}
