{% extends 'monopolyapp/liff-base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

  <h1>ルーム{{ room_id|slice:":6" }}</h1>
  <img src="{% static 'room' %}/{{ room_id }}.png" width="300" height="300">
  <h1>参加プレイヤー</h1>
  <div id="players">
    <p>親 {{ parent }}</p>
  </div>
  <input type="button" value="このメンバーでプレイ" onclick="gameStart()">

  <script>
      const gameStart = () => {
          liff.closeWindow();
      };

      const updatePlayers = (players) => {
        let playersNum = document.getElementById('players').childElementCount;
        if (Object.keys(players).length === playersNum) {
            let wrapper = document.getElementById('players');
            while (wrapper.firstChild) element.removeChild(wrapper.firstChild);
            let i = 0;
            for (let player of players) {
                let p = document.createElement('p');
                if (player.position === 'parent') {
                    p.innerText = "親　";
                } else if (player.position === 'child') {
                    p.innerText = "子" + i + "　";
                }
                p.innerText += player.line_name;
                wrapper.appendChild(p);
                i++;
            }
        }
    };

    const fetchPlayers = () => {
        let ep = "https://monopolyapp.herokuapp.com/api/players?format=json&room_id=" + {{ room_id }};
        fetch(ep).then(response => response.json()).then(json => updatePlayers(json));
    };
    setInterval(fetchPlayers, 1000);
  </script>

{% endblock %}
